<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EP_Practical_1_2_21</display-name>
  <welcome-file-list>
    <welcome-file>registration.html</welcome-file>
    <welcome-file>registration.htm</welcome-file>
    <welcome-file>registration.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegInsert</display-name>
    <servlet-name>RegInsert</servlet-name>
    <servlet-class>RegInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegInsert</servlet-name>
    <url-pattern>/RegInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedbackInsert</display-name>
    <servlet-name>feedbackInsert</servlet-name>
    <servlet-class>feedbackInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackInsert</servlet-name>
    <url-pattern>/feedbackInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegDisplay</display-name>
    <servlet-name>RegDisplay</servlet-name>
    <servlet-class>RegDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegDisplay</servlet-name>
    <url-pattern>/RegDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchPswd</display-name>
    <servlet-name>searchPswd</servlet-name>
    <servlet-class>searchPswd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPswd</servlet-name>
    <url-pattern>/searchPswd</url-pattern>
  </servlet-mapping>
</web-app>
